/* Popup CSS */

:root {
    --errorcolour: #f00e0e;
    --validcolour: #0add0a;
}

.hidden {
    visibility: hidden;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Main Popup Layout */

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: 800;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}

.popup-content {
    background: #f4f4f4;
    margin: 5% auto;
    height: 79.5vh;
    width: 60%;
    position: relative;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 45% 55%;
}

.popup-content-left {
    background-color: rgb(48, 200, 211);
    border-radius: 0 3px 3px 0;
    position: relative;
}

#popup-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content-right {
    border-radius: 0 3px 3px 0;
    position: relative;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Popup Form */

.popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-form h1 {
    font-size: 40px;
    text-align: start;
    width: 80%;
    margin-bottom: 50px;
}

.popup-input {
    display: block;
    padding-left: 8px;
    outline: none;
    border: none;
    border-radius: 2px;
    height: 48px;
    width: 98.3%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05)
}

#bottom-inp {
    margin-bottom: 40px;
}

.popup-sign-in-btn {
    margin-left: 0;
    border-radius: 10px;
    border: none;
    background-color: #343535;
    height: 50px;
    width: 80%;
    text-decoration: none;
    color: #fff;
    font-size: large;
    
}

.popup-sign-in-btn:hover {
    background-color: red;
    cursor: pointer;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Popup Form Validation */

.form-validation {
    margin-bottom: 24px;
    width: 80%;
}

.form-validation.error {
    margin-bottom: 24px;
    position: relative;
    border: 2px solid var(--errorcolour);
    border-radius: 2px;
}

.form-validation.valid {
    margin-bottom: 8px;
    position: relative;
    border: 1px solid var(--validcolour);
    border-radius: 2px;
}

.form-validation p {
    font-size: 12px;
    margin-top: 5px;
    color: var(--errorcolour);
    position: absolute;
    display: none;
}

.form-validation.error p {
    display: block;
}
