/* Popup CSS */

:root {
    --errorcolour: #f00e0e;
    --validcolour: #0add0a;
}

.hidden {
    visibility: hidden;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Main Popup Layout */

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: 800;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}
