/* Popup CSS */

:root {
    --errorcolour: #f00e0e;
    --validcolour: #0add0a;
}

.hidden {
    visibility: hidden;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Main Popup Layout */

.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-weight: 800;
    font-size: 24px;
    z-index: 1;
    cursor: pointer;
}

.popup-content {
    background: #f4f4f4;
    margin: 5% auto;
    height: 79.5vh;
    width: 60%;
    position: relative;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 45% 55%;
}

.popup-content-left {
    background-color: rgb(48, 200, 211);
    border-radius: 0 3px 3px 0;
    position: relative;
}

#popup-img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-content-right {
    border-radius: 0 3px 3px 0;
    position: relative;
}
