/* Funky Mode CSS */

@import url(popup.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes rotate {
    0% {transform: rotate(360deg);}
    50% {transform: rotate(-360deg);}
}

.body {
    animation: rotate 25s 5s infinite;
    background-image: url(images/gintoki.gif);
}

/*--------------------------------------------------------------------------------------------------------*/
/* Navigation Bar */

nav {
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-content: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li a:hover {
    color: yellow;
}

.link-click {
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Header */

.header {
    height: 100vh;
    width: 100%;
    background-color: #2b2c2c;
}

.text-box {
    width: 100%;
    color: #fff;
    position: relative;
    margin: auto;
    top: 25%;
    text-align: center;
}

.text-box h1 {
    font-size: 76px;
}

#b-html {
    color: red;
}

#b-css {
    color: turquoise;
}

#b-js {
    color: yellow;
}

/*------------------------------------------------------*/
/* Form */

.form-div {
    width: 50%;
    height: 200px;
    top: 30%;
    margin: auto;
    position: relative;
    color: white;
    text-align: center;
}
