/* Funky Mode CSS */

@import url(popup.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes rotate {
    0% {transform: rotate(360deg);}
    50% {transform: rotate(-360deg);}
}

.body {
    animation: rotate 25s 5s infinite;
    background-image: url(images/gintoki.gif);
}
