/* Plain Mode CSS */

/*--------------------------------------------------------------------------------------------------------*/
/* Header */

.text-box{
    margin: 0;
    position: relative;
}

.text-box h1{
    font-size: 32px;
}
