/* Accessible Mode CSS */

@import url(popup.css);

*{    
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Navigation Bar */

nav{
    display: flex;
    padding: 2% 3%;
    justify-content: space-between;
    align-content: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #59ffa0;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: plum;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Header */

.header { 
    height: 100vh;
    width: 100%;
    background-color: #2b2c2c;
}

.text-box {
    width: 100%;
    color: #59ffa0;
    position: relative;
    margin: auto;
    top: 25%;
    text-align: center;
    cursor: default;
}

.text-box h1 {
    font-size: 80px;
    color: #00ffea;
}

.text-box p {
    font-size: large;
}

#b-html {
    color: yellow;
}

#b-css {
    color: yellow;
}

#b-js {
    color: yellow;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Form */

.form-div {
    width: 50%;
    height: 200px;
    top: 30%;
    margin: auto;
    position: relative;
    color: white;
    text-align: center;
}

.form-div input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
}

.form-div a {
    color: yellow;
    font-size: large;
}

.form-div a:hover {
    color: plum;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Lessons */

.lessons {
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 50px 0;
    background-color: #fff3f3;
}

.lessons-col {
    width: 80%;
    background: #343535;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
    position: relative;
    color: yellow;
}

.lessons-col ul {
    padding-left: 30px;
}

.lessons h1 {
    margin-left: 10%;
    padding-left: 10px;
    font-size: 60px;
    padding-bottom: 20px;
    color: #2b2c2c;
}

.lessons h2 {
    font-size: 35px;
    padding-bottom: 10px;
    color: #59ffa0;
}

.lessons-col li {
    font-size: large;
}

#html-img {
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    height: 250px;
    border: 5px solid #00ffea ;
    background-color: #fff3f3;
}
