/* Plain Mode CSS */

@import url(popup.css);

/*--------------------------------------------------------------------------------------------------------*/
/* Header */

.text-box {
    margin: 0;
    position: relative;
}

.text-box h1 {
    font-size: 32px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.nav-links { 
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li a:hover {
    color: #f00;
}

#form-box {
    width: 185px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Lessons */

#lessons-title {
    display: none;
}

.lessons-col {
    margin-top: 0;
    padding-top: 0;
}

#html-img {
    float: right;
    height: 250px;
}

#css-img {
    float: right;
    height: 250px;
}

#js-img {
    float: right;
    height: 250px;
}

/*--------------------------------------------------------------------------------------------------------*/
/* Contact Form */

.contact-col {
    margin-top: 30px;
    position: relative;
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
